@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "animations.css";

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	font-family: 'Roboto', sans-serif;
}

.container {
	height: 100vh;
	display: flex;
	overflow: hidden;
	position: relative;
	z-index: 0;
	max-width: 1920px;
}

a {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: black;
}

#splashscreen {
	position: fixed;
	z-index: 99999;
	width: 100vw;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	cursor: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ml12 {
	font-weight: 200;
	font-size: 3vw;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	display: none;
}

.ml12 .letter {
	display: inline-block;
	line-height: 1em;
}

.leftSide {
	flex: 4;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 2rem 3rem;
}

.leftTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
}

.leftBottom {
	opacity: 0;
}

.leftTop p {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0 3px;
}

.leftTop div:first-of-type {
	display: flex;
	align-items: baseline;
}

.leftTop div:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

.leftTop span {
	padding-left: 20px;
}

.leftMiddle {
	overflow: hidden;
	height: 9rem;
	position: relative;
	font-size: 4rem;
	font-weight: 300;
}

.leftMiddleText {
	position: absolute;
}

.animateLeftMiddle {
	-webkit-animation: fadein 2s ease-in;
	animation: fadein 2s ease-in;
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.leftMiddle,
.leftBottom {
	padding-left: 4rem;
}

.fadein1animation {
	-webkit-animation: fadein1 1s ease-in;
	animation: fadein1 1s ease-in;
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

.leftBottom {
	line-height: .3rem;
}

.leftBottom p {
	padding-right: .5rem;
}

.leftBottom a {
	text-decoration: underline;
	padding-left: .3rem;
}

.opacity1 {
	opacity: 1;
}
	
.rightSide {
	flex: 1.8;
	cursor: none;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	width: 100%;
	padding-left: 2rem;
	height: calc(100% + 2rem);
}

.blink-2 {
	width: 25px;
	height: 5px;
	background-color: black;
	-webkit-animation: blink-2 5s infinite both;
	animation: blink-2 5s infinite both;
}

.showMenu {
	position: relative;
	padding-right: 20px;
	border-right: thin solid black;
}

.menuBackground {
	width: 100%;
	height: 100%;
	background-color: rgba(37, 37, 37, 0.6);
	display: none;
	position: absolute;
	z-index: 1;
	opacity: 0;
}

.showMenuBackground {
	display: block;
	-webkit-animation: showBackground 0.2s ease;
	animation: showBackground 0.2s ease;
	opacity: 1;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.holder {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

#window,
#window1,
#window2,
#window3 {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	pointer-events: none;
	z-index: 0 !important;
}

.moveWindow {
	-webkit-animation: moveW 0.5s ease;
	animation: moveW 0.5s ease;
}

.moveWindow1 {
	-webkit-animation: moveW 1s ease;
	animation: moveW 1s ease;
}

.moveWindow2 {
	-webkit-animation: moveW 1.5s ease;
	animation: moveW 1.5s ease;
}

.moveWindow3 {
	-webkit-animation: moveW 2s ease;
	animation: moveW 2s ease;
}

li {
	margin-top: 1.5rem;
}

li:nth-of-type(1) {
	margin-top: 0;
}

.im {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	pointer-events: none;
}

.menu {
	width: 50%;
	height: 100vh;
	background-color: #f1f2f2;
	position: absolute;
	transform: translateX(-100%);
	z-index: 111 !important;
	top: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu a {
	text-decoration: underline;
}

.scale {
	-webkit-animation: scale-in-hor-left 0.5s linear;
	animation: scale-in-hor-left 0.5s linear;
	transform: translateX(0%);
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	animation: fade-out 1s ease-out both;
	transform: translateX(0%);
}

.closeMenu {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(180deg) scale(1);
	transition: all 0.3s ease;
	margin-left: auto;
}

.closeMenu:hover {
	transform: rotate(270deg) scale(1.2);
	color: rgb(0, 110, 255);
}

.menuContent {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	max-width: 29rem;
	margin-top: 5rem;
	padding-left: 10rem;
}

.arrow {
	display: flex;
	position: relative;
	align-items: center;
	padding-right: 16rem;
}

.arrow img:first-of-type {
	padding: 0 10px 14px 10px;
}

.arrow img:last-of-type {
	height: 155px;
}

.menuContent > span:nth-of-type(1) {
	position: absolute;
	right: 85%;
	top: 29%;
	font-size: 4rem;
	font-weight: 300;
}

.menuContent > span:nth-of-type(2),
.menuContent > span:last-of-type {
	margin-top: 3rem;
	font-size: 1.3rem;
	line-height: 2rem;
}

.menuFooter {
	margin-top: auto;
}

.onHover{
cursor: none;
}

.onHover:hover {
	color: rgb(0, 110, 255);
	cursor: none;
}

.project {
	width: 100vw;
	height: auto;
	background-color: #f1f2f2;
	position: absolute;
	transform: translateY(100%);
	z-index: 111 !important;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
}

.closeProject {
	position: -webkit-sticky;
	position: sticky;
	top: 1%;
	display: flex;
	justify-content: flex-end;
	padding: 1rem 2rem;
	margin-left: auto;
}

.closeProject span {
	position: relative;
	top: 13px;
	left: 30px;
	font-size: 1.1rem;
	transition: all 0.3s ease;
	transform: rotate(270deg);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	z-index: 1;
}

.projectContent {
	padding: 1rem 5rem;
	display: flex;
	flex-direction: column;
	max-width: 75rem;
	width: 100%;
}

.projectContent > img:first-of-type {
	width: 100%;
	height: auto;
}

.title {
	font-size: 3.5rem;
}

.underTitle {
	font-size: 1.2rem;
	padding: 1rem 0 2rem;
}

.underTitle span {
	font-size: 1rem;
}

.projectContent > span:first-of-type {
	font-size: 1.3rem;
	padding: 4rem 2rem;
	line-height: 2rem;
}

.darkmode,
.responsive {
	background: #e6e1e1;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.imageTitle{
	letter-spacing: 4px;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
}

.imageTitle span {
	width: 20px;
	height: 20px;
	background-color: blue;
	display: inline-block;
	border-radius: 50%;
	margin: 1rem;
}

.imageTitle  span:first-of-type {
	background-color: #6e67e7;
}

.imageTitle span:nth-of-type(2) {
	background-color: #4d7ce6;
}

.imageTitle  span:last-of-type {
	background-color: #473bb1;
}

.info {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;
}

.scale-vert {
	display: flex;
	-webkit-animation: scale-in-vert-bottom 0.5s linear;
	-webkit-animation: scale-in-vert-bottom 0.5s linear;
	animation: scale-in-vert-bottom 0.5s linear;
	transform: translateY(0%);
}

.fade-out1 {
	-webkit-animation: fade-out1 1s ease-out both;
	animation: fade-out1 1s ease-out both;
	transform: translateY(0);
}

svg {
	transform: rotate(-90deg);
}

svg circle {
	stroke: rgba(0, 0, 0, 0.1);
	stroke-width: 5px;
	stroke-linecap: round;
	fill: white;
}

svg .progress-bar {
	stroke: black;
}

@media only screen and (max-width: 1440px) {
  .menu{
	  width: 70%;
  }
  .leftMiddle{
  font-size: 3.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .container {
    flex-direction: column;
  }
  .leftSide{
  flex:1.5;
  padding-top: 0;
  }
  .leftBottom{
 	font-size: .9rem;
  }
  .leftMiddle{
 	margin: 2rem 0 0;
  }
  .rightSide{
  flex:1;
  padding-left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  }
  ul{
  display: flex;
  }
  li{
	  margin-top: 0;
  }
  .holder{
  width: 30rem;
  }
  .flex{
	  flex-direction: row;
  }
  .menuContent{
	margin-top: 0;
	padding-left: 0;
	align-items: flex-start;
	margin: 3rem 1.5rem;
	width: 80%;
  }
  .arrow{
	  padding-right: 0;
  }
  .arrow > span,
  .arrow img:first-of-type{
	  display: none;
  }
  .arrow img:last-of-type{
	  height: 130px;
  }
  .menuContent > span:nth-of-type(1) {
	position: static;
	font-size: 2.5rem;
	margin-top: 2rem;
  }
  .menuContent > span:nth-of-type(2),
  .menuContent > span:last-of-type {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.3em;
  }
  .menuFooter{
  margin-bottom: 1rem;
  }
  .darkmode, .responsive{
   background: none;
   }
}

@media only screen and (max-width: 667px) {
  .menu{
	  width: 100%;
  }
  .showMenu{
    padding: 0;
	border: none;
  }
  .leftTop span {
	  display: none;
  }
  .leftSide{
	flex: 1.7;
    justify-content: space-between;
  }
  .leftMiddle{
	 margin: 0;
	 font-size: 2.6rem;
  }
  .leftMiddle, .leftBottom {
    padding-left: 0;
  }
  .leftTop > div:first-of-type {
    font-size: .7rem;
  }
  .blink-2{
	width: 15px;
  }
  .projectContent{
   padding: 0rem 2rem;
   font-weight: 300;
  }
  .imageTitle span {
    margin: .3rem;
  }	
  .title{
	  font-size: 2.5rem;
	  font-weight: 400;
  }
  .projectContent > span:first-of-type {
    font-size: 1.2rem;
    padding: 2rem 0rem;
    line-height: normal;
  }
  .info{
	  display: block;
	  }
	  .info span{
	  padding: 5px;
	  }
  .holder{
	  width: 27rem;
  }
}

@media only screen and (max-width: 450px) {
  .leftMiddle{
  font-size: 2.2rem;
  }
  .holder{
	  width: 22rem;
	  margin-top: 2rem;
  }
}